<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:applicationContext.xml</param-value>
	</context-param>
	<!--spring监听器 -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<!--粗粒度权限管理   过滤器是怎么控制过滤过程的-->
	<filter>
		<filter-name>PrivilegeFilter</filter-name>
		<filter-class>com.hrm.filter.PermissionFilter</filter-class>
	</filter> 
	<filter-mapping>
		<filter-name>PrivilegeFilter</filter-name>
		<url-pattern>/html/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>PrivilegeFilter</filter-name>
		<url-pattern>/human/*</url-pattern>
	</filter-mapping>
	
	<!--struts过滤器 -->
	<filter>
		<filter-name>struts2</filter-name>
		<filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>struts2</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<!-- 描述性的文字说明，没实际意义，一般情况下直接删除掉 -->
	<display-name>描述性的文字说明，没实际意义，一般情况下直接删除掉 </display-name>
	<welcome-file-list>
		<welcome-file>login.jsp</welcome-file>
	</welcome-file-list>
	<error-page>
    <error-code>404</error-code>
    <location>/html/human/404.html</location>
  	</error-page>

</web-app>
